<div class="container-fluid">
  <div class="row">
      <ul class="nav justify-content-center bg-primary" style="width:100%; padding:10px">
          <li class="nav-item">
              <a class="navbar-brand text-light" routerLink="/">CRUD TELECOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/view">Ver empleados</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-light" routerLink="/add">Agregar empleados</a>
            </li>
        </ul>
  </div>
</div>
<router-outlet></router-outlet>